*{
    margin: 0;
    padding: 0;
}
#chain{
    font-size: 100px;
    color: saddlebrown;
}

#battery{
    font-size: 100px;
    color: aquamarine;
}

#hourglass{
    font-size: 100px;
    color: bisque;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    margin: 250px 150px;
}
