.w{
    width: 1200px;
    margin:0 auto;
}

.success{
    color: #40b83f;
}

.error{
    color: #b1191a;
}

.header{
    height: 82px;
    border-bottom: 2px solid #b1191a;
}

.logo{
    /* 两个盒子没有设置高度 使用margin会出现塌陷问题 */
    padding-top: 15px;
}


.registerarea{
    height: 520px;
    margin-top: 20px;
    border:1px solid #cccccc;
}


.registerarea h3{
    height: 40px;
    border-bottom: 1px solid #cccccc;
    line-height: 40px;
    padding:0 10px;
    font-weight: 400;
    background-color: #ececec;
}

.registerarea h3 em{
    float: right;
}

.registerarea h3 a{
    color:#c81623;
}

.registerform{
    width: 600px;
    height: 400px;
    margin:40px auto 0;
    /* background-color: pink; */
}

.registerform li{
    margin-top: 20px;
}

.registerform label{
    display:inline-block;
   text-align: right;
    width: 100px;
    height: 36px;
    line-height: 36px;
}

.registerform .inp{
    width: 238px;
    height: 34px;
    border:1px solid #ccc;
    margin-left: 10px;
}
.registerform .error{
    color:#df3033;
    padding-left: 10px;
}



.success_ico{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    background: url(../img/success.png) no-repeat;
}

.error_ico{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    background: url(../img/error_03.png) no-repeat;
}

.registerform .safe{
    margin-top:2px;
    color:#b2b2b2;
    padding-left: 180px;
}
.safe em{
    padding: 0 12px;
    color:#fff;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}

.agree input{
    vertical-align: middle;
    margin-right: 5px;
}

.agree{
    padding-left: 150px;
}

.agree a{
    color: #1ba1e6;
}

.finish{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    margin:0 0 0 130px;
    border:0;
    color:#fff;
    font-size: 14px;
}

.footer{
    height: 120px;
    text-align: center;

}

.links{
    margin-top: 20px;
    height: 30px;
}

.copyright{
    line-height: 20px;
}