
#navbar h1,
#navbar ul,
#navbar ul li{
    float: none;
}

#navbar{
    text-align: center;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: 1px dashed #444;
}

#home_info .info_img{
    display: none;
}

#home_info .info_content{
    width: 100%;
}

.box{
    width: 100%;
    float: none;
}

#showcase .show_content{
    padding-top: 70px;
    padding-bottom: 30px;
}

#showcase .show_content h1{
    font-size: 40px;
}

/* ==================================== */
#container{
    text-align: center;
}

#about-info .info-left,
#about-info .info-right{
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 30px;
}

.testimonial:nth-child(1){
    display: none;
}
/* ==================================== */
