*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #ccc;
}
body,html{
   font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.container{
    max-width: 960;
    padding: 0 1rem;
    margin: auto;
    text-align:center;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.head-over-lay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    opacity: 0.4;
    z-index: 1;
}

.head-content{
    z-index: 2;
}

.head-content h1{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
}

.head-content p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.btn{
    background: #34b3a0;
    color: #FFF;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

@media(max-width:960px){
    .container{
        padding: 0 3rem;
    }
}

.section{
    text-align: center;
}

.section h1{
    font-size: 3rem;
}
.section p{
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.266667rem;
}

.sectiona{
    background: #FFF;
    color: #333;
    padding: 2rem 0;
}

.sectionb{
    color: #fff;
    background: #333;
    padding: 2rem 0;
}

.icon{
    background: #333;
}
section .fa{
    font-size:46px;
    padding: 35px 40px;
    transition: 0.6s;
    overflow: hidden;
}
.fa:nth-child(1){
    color: salmon;
}

.fa:nth-child(2){
   color: #34b3a0;
}

.fa:nth-child(3){
    color: springgreen;
}

.fa:nth-child(4){
    color: paleturquoise;
}

.fa:nth-child(5){
   color: darkturquoise;
}

.fa:nth-child(6){
   color: orchid;
}

.fa:hover{
    transform: scale(0.9);
}