:root{
    /* CSS变量设置 */
    --container-bg-color:#333;

    --left-bg-color:rgba(223,39,39,0.2);
    --left-btn-hover-color:rgba(161,11,11,0.3);

    --right-bg-color:rgba(243, 243, 243, 0.2);
    --right-btn-hover-color:rgba(92,92,92,0.3);
    
    /* 鼠标移入时的页面宽度变量 */
    --hover-width:75%;
    --other-width:25%;

    --speed:1000ms;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    /* 水平方面隐藏滚动条 */
    overflow-x: hidden;
}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /* 不换行 */
    white-space: nowrap;
}

.button{
    display: block;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: 0.2rem solid #fff;
    text-align: center;
    color: #Fff;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    transition: 0.6s ease-in-out;
}
.button:hover{
    background: -webkit-linear-gradient(left,#f193ca,#ed5555,#16cc1f);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    /* 调用变量 */
    background: var(--container-bg-color);
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all var(--speed) ease-in-out;
}
.left{
    left: 0;
    background: url(../Images/1.jpg) no-repeat center center/cover;
}

.right{
    right: 0;
    background: url(../Images/2.jpg) no-repeat center center/cover;
}

.split.left::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

.split.right::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

/* 左侧鼠标移入移出 */
.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-left .right::before{
    z-index: 2;
}

/* 右侧鼠标移入移出 */
.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.hover-right .left::before{
    z-index: 2;
}